<div class="drawer drawer-slide" id="end-drawer" data-align="end" data-position="right">
  <div class="scrim"></div>
  <div class="drawer-panel">
    <div class="drawer-header p-1">
      <input class="form-control" type="search" placeholder="Search">
    </div>
    <nav class="drawer-main scroll-y">
    </nav>
  </div>
</div>
