<header class="header">
  <div class="toolbar header-toolbar">
    <div class="toolbar-item toolbar-item-primary">
      <button class="toolbar-btn" data-toggle="drawer" data-target="#start-drawer">
        <i class="material-icons">menu</i>
      </button>
      <a class="toolbar-title" href="#">
        Dashboard
      </a>
    </div>

    <div class="toolbar-item">
      <button class="toolbar-btn">
        RTL
      </button>
      <button class="toolbar-btn">
        <i class="material-icons">search</i>
      </button>
      <div class="dropdown">
        <button class="toolbar-btn" data-toggle="dropdown">
          <i class="material-icons">more_vert</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right fade">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <button class="toolbar-btn" data-toggle="drawer" data-target="#end-drawer">
        <i class="material-icons">menu</i>
      </button>
    </div>
  </div>
</header>
