{% set nav = [
  ['#', 'index', 'Home', '<i class="nav-item-icon material-icons">home</i>',
    [
      ['index.html', 'index', 'Index'],
      ['login.html', 'login', 'Login'],
      ['404.html', '404', 'Error 404']
    ]
  ],
  ['#', 'example', 'Design', '<i class="nav-item-icon material-icons">desktop_windows</i>',
    [
      ['#', 'example', 'Link'],
      ['#', 'example', 'Another link'],
      ['#', 'example', 'Something else here']
    ]
  ],
  ['#', 'example', 'Develop', '<i class="nav-item-icon material-icons">code</i>'],
  ['#', 'example', 'Distribute', '<i class="nav-item-icon material-icons">share</i>'],
  ['#', 'example', 'Preview', '<i class="nav-item-icon material-icons">play_arrow</i>']
] %}

<div class="drawer drawer-push open" id="start-drawer" data-align="start" data-position="left">
  <div class="scrim"></div>
  <div class="drawer-panel">
    <div class="drawer-header p-1">
      <input class="form-control" type="search" placeholder="Search">
    </div>
    <nav class="drawer-main scroll-y">
      <ul class="nav drawer-nav">
        {% for nav_item_url, nav_item_slug, nav_item_title, nav_item_icon, nav_group in nav -%}

          {% if nav_group %}
            <li class="nav-item{% if nav_item_slug == opened_nav_group %} active{% endif %}">
              <a class="nav-link nav-toggle nav-toggle-{% if nav_item_slug == opened_nav_group %}expanded{% else %}collapsed{% endif %}" href="{{ nav_item_url }}">
                {{ nav_item_icon }}
                <span class="nav-item-title">{{ nav_item_title | e }}</span>
              </a>
              <ul class="nav nav-group nav-group-{% if nav_item_slug == opened_nav_group %}expanded{% else %}collapsed{% endif %}">
                {% for nav_group_item_url, nav_group_item_slug, nav_group_item_title in nav_group %}
                  <li class="nav-item{% if nav_group_item_slug == slug %} active{% endif %}">
                    <a class="nav-link" href="{{ nav_group_item_url | e }}">
                      {{ nav_group_item_title | e }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item{% if nav_item_slug == slug %} active{% endif %}">
              <a class="nav-link" href="{{ nav_item_url | e }}">
                {{ nav_item_icon }}
                <span class="nav-item-title">{{ nav_item_title | e }}</span>
              </a>
            </li>
          {% endif %}

        {%- endfor %}
      </ul>
    </nav>
    <div class="drawer-footer pos-f-b">
      <button>
        <i class="material-icons">first_page</i>
      </button>
    </div>
  </div>
</div>
