{% extends '_layouts/base.html' %}

{% block layout %}

{% include '_includes/header.html' %}

<div class="layout-row">
  <div class="content">
    {% block content %}{% endblock %}

    {% include '_includes/footer.html' %}

  </div>

  {% include '_includes/start-drawer.html' %}
  {% include '_includes/end-drawer.html' %}

</div>

{% endblock %}
