/**
 * Drawer navigation
 */

$drawer-nav-link-border-width: .25rem !default;

.drawer-nav {
  font-size: .875em;
  font-weight: $font-weight-regular;
}

.drawer-nav .nav-link {
  display: block;
  padding: .5rem 1rem;
  padding-left: 1rem - $drawer-nav-link-border-width;
  color: inherit;
  border-left: $drawer-nav-link-border-width solid transparent;
}

.drawer-nav .nav-link:hover {
  color: $brand-primary;
}

.drawer-nav .active > .nav-link,
.drawer-nav .nav-link.active {
  font-weight: $font-weight-bold;
}

// Nav toggle
.nav-toggle {
  position: relative;
}

.nav-toggle-collapsed:after,
.nav-toggle-expanded:after {
  position: absolute;
  right: 1rem;
  top: 50%;
  font-family: 'Material icons';
  font-weight: 400;
  color: #999;
  transform: translateY(-50%);
}

.nav-toggle-expanded:after {
  content: '\E5CE';
}

.nav-toggle-collapsed:after {
  content: '\E5CF';
}

.drawer-nav .active >.nav-toggle,
.drawer-nav .nav-toggle.active {
  font-weight: $font-weight-regular;
  border-color: $brand-primary;
}

// Nav-group
.nav-group {
  overflow: hidden;
}

.nav-group-collapsed {
  display: none;
  height: 0;
}

.nav-group .nav-link {
  padding-left: 2rem;
  border: 0;
}

.nav-item-icon {
  font-size: 1.5rem;
  text-align: center;
	vertical-align: middle;
}

.nav-item-title {
  padding-left: 1.5rem;
}
