// 'Overlay' effect
.drawer-overlay .drawer-panel {
  opacity: 0;
  visibility: hidden;
}

.drawer-overlay.open .drawer-panel {
  opacity: 1;
  visibility: visible;
}

.drawer-overlay.is-transitioning .drawer-panel {
  transition: opacity .3s ease-out, visibility .3s ease-out;
}

.drawer-overlay.open[data-position='left'] .drawer-panel,
.drawer-slide.open[data-position='left'] .drawer-panel {
  box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, .1);
}

.drawer-overlay.open[data-position='right'] .drawer-panel,
.drawer-slide.open[data-position='right'] .drawer-panel {
  box-shadow: -5px 10px 15px 5px rgba(0, 0, 0, .1);
}
