// Drawer

// Scrim
.scrim {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

// Scrim transitioning state
.drawer.is-transitioning .scrim {
  transition: visibility 0s ease-out .2s, opacity .2s ease-out;
}

// Scrim open state
.drawer.open .scrim {
  opacity: .8;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.toolbar-btn[data-toggle='drawer'] {
  min-width: 48px;
  opacity: .75;
}

.drawer.is-transitioning {
  transition: transform .3s ease-out;
  will-change: transform;
}

// Drawer initial state
.drawer[data-position='left'] {
  right: auto;
  transform: translate(-100%, 0);
}

.drawer[data-position='right'] {
  left: auto;
  transform: translate(100%, 0);
}

// Drawer open state
.drawer.open {
  transform: translate(0, 0);
}

// Transition content only on medium and up breakpoints
@include media-breakpoint-up(lg) {
  //.drawer-push.is-transitioning ~ .content {
  .content {
    transition: margin .3s ease-out;
    will-change: margin;
  }

  //.drawer-push.open[data-position='left'] ~ .content {
  .content {
    margin-left: $drawer-width;
  }

  //.drawer-push.open[data-position='right'] ~ .content {
  .content {
    //margin-right: $drawer-width;
  }
}

// 'Slide' effect
.drawer-slide {

}

.drawer-slide {
  visibility: hidden;
  will-change: visibility, transform;
}

.drawer-slide.is-transitioning {
  transition: transform .3s ease-out;
  visibility: visible;
}

.drawer-slide.open {
  visibility: visible;
}

.drawer-slide[data-position='left'] {
  box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, .1);
}

.drawer-slide[data-position='right'] {
  box-shadow: -5px 10px 15px 5px rgba(0, 0, 0, .1);
}
