.drawer-overlay .drawer-panel {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: opacity .2s ease-out, visibility .2s ease-out;
}

.drawer:not(.drawer-overlay).animating .drawer-panel {
  transition: transform .2s ease-out;
}

.drawer:not(.drawer-overlay).open .drawer-panel {
  transform: translate(0, 0);
}

.drawer.drawer-overlay.open .drawer-panel {
  opacity: 1;
  visibility: visible;
}

/* Push content only on desktop browsers */
@include media-breakpoint-up(lg) {
  .drawer-push.animating ~ .content {
    transition: padding .2s ease-out;
  }

  .drawer[data-position='left'].drawer-push.open ~ .content {
    padding-left: $drawer-width;
  }

  .drawer[data-position='right'].drawer-push.open ~ .content {
    padding-right: $drawer-width;
  }
}

/**
 * Adding transition to an element
 * during transitioning-state only
 * will ensure no flickering on breakpoint changes
 */

.drawer-push.animating .drawer-panel {
  transition: transform .2s ease-out;
}

.drawer-overlay .drawer-panel {
  transform: translate(0, 0);
  transition: opacity .2s ease-out, visibility .2s ease-out;
}

.drawer-slide .drawer-panel {
  transition: transform .2s ease-out;
}
