/**
 * Layout
 */

/* Wrapper */
.wrapper {
  position: relative;
  overflow-x: hidden;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  padding: 0;
  height: $header-height;
  border-bottom: 1px solid transparent;
  transition: box-shadow .2s ease-out;
}

.header {
  height: 65px;
  border-color: rgba(0, 0, 0, .14);
}

.header.body-is-scrolled {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .03), 0 4px 5px 0 rgba(0, 0, 0, .03), 0 1px 10px 0 rgba(0, 0, 0, .04);
}

.header-toolbar {
  padding: .75rem .5rem;
  background-color: #fff;
}

/* Drawer */
.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.drawer-layout .drawer {
  margin-top: $header-height;
}

.drawer[data-position='right'] {
  right: 0;
  left: auto;
}

.drawer-panel {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: $drawer-width;
  background-color: #fafafa;
  //z-index: 3;
}

/* Content */
.content {
  position: relative;
  z-index: 1;
}

/* Footer */
.footer {

}
