.wrapper {
  display: block;
  margin-top: 64px;
}

  .header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  font-weight: 400;
  z-index: 101;
}

.layout-row {
  display: block;
  position: relative;
  background: #fafafa;
}

.drawer {
  top: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 1px 0 6px -2px rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.drawer-panel {
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 265px;
  background-color: #fff;
}

.drawer[data-position='left'] {
  overflow-x: hidden;
}

.drawer[data-position='left'] .drawer-panel {
  min-width: 64px;
  width: 64px;
  max-width: 64px;
}

.drawer[data-position='right'] .drawer-panel {
  right: 0;
  left: auto;
}

.drawer.open .scrim {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
}

.content {
}

.layout-row {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  min-height: 0;
}

#start-drawer {
  display: flex;
  flex-direction: row;
  left: 0;
}

#end-drawer {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1;
}
