/**
 * Layout
 */

/* Wrapper */
.wrapper {
  position: relative;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  padding: 0;
  height: $header-height;
  border-bottom: 1px solid transparent;
  transition: box-shadow .2s ease-out;
}

.header {
  height: 65px;
  border-color: rgba(0, 0, 0, .14);
}

.header.body-is-scrolled {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .03), 0 4px 5px 0 rgba(0, 0, 0, .03), 0 1px 10px 0 rgba(0, 0, 0, .04);
}

.header-toolbar {
  padding: .75rem .5rem;
  background-color: #fff;
}

/* Content */
.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.header ~ .content {
  padding-top: $header-height;
}

/* Footer */
.footer {

}
