.nav-group-title {
  margin: 0;
  padding: .75rem 1rem;
  font-size: 1em;
  font-weight: inherit;
  letter-spacing: .02em;
  line-height: inherit;
  opacity: .5;
  text-transform: uppercase;

  margin-bottom: 5px;
  font-size: 85%;
  font-weight: normal;
  letter-spacing: 1px;
  color: #afafaf;
  text-transform: uppercase;
}
