// Extend / overwrite Bootstrap and third-party libraries

// Material icons
.material-icons {
  vertical-align: text-top;
}

// Add fade effect to dropdown-menu
.dropdown-menu.fade {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-out, visibility .2s ease-out;
}

.open > .dropdown-menu.fade {
  opacity: 1;
  visibility: visible;
}
