// Toolbar

/* Toolbar */
.toolbar {
  display: table;
  width: 100%;
  white-space: normal;
}

/* Toolbar cell */
.toolbar-item {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  padding-left: .5rem;
  padding-right: .5rem;
}

.toolbar-item:first-child {
  padding-left: 0;
}

[dir='rtl'] .toolbar-item:first-child {
  padding-right: 0;
  padding-left: .5rem;
}

.toolbar-item:last-child {
  padding-right: 0;
}

[dir='rtl'] .toolbar-item:last-child {
  padding-right: .5rem;
  padding-left: 0;
}

/* Full-width toolbar cell */
.toolbar-item-primary {
  width: 99%;
}

.toolbar-item > * {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.toolbar-title {
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  color: inherit;
  text-decoration: none;
}

a.toolbar-title:hover,
a.toolbar-title:focus {
  color: inherit;
  text-decoration: none;
}

/* Buttons reset */
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  outline: none;
}

// Toolbar button
.toolbar-btn {
  padding: .5rem;
  font-size: 1.25rem;
  line-height: 1;
  color: inherit;
  transition: .2s opacity ease-out;
}

.toolbar-btn:hover,
.toolbar-btn:focus {
  color: inherit;
}
