// Utilities

// Background images
.bg-img {
  top: 0;
  left: 0;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: none;
}

// Add horizontal scrollbar
.scroll-x {
  width: 100%;
  overflow-x: auto;
}

// Add vertical scrollbar
.scroll-y {
  height: 100%;
  overflow-y: auto;
}
