{% set title = '404' %}
{% set slug = '404' %}

{% extends '_layouts/cover.html' %}

{% block content %}
<div class="container container-fill-height">
  <div class="container-content-middle">
    <div class="alq dj j text-xs-center">
      <p class="display-1 h1">404</p>
      <p>The requested URL was not found on this server. <br><small>Maybe try a search?</small></p>
      <form class="">
        <input class="font-control" type="search" placeholder="Search...">
      </form>
    </div>
  </div>
</div>

{% endblock %}
