{% set title = 'Login' %}
{% set slug = 'login' %}

{% extends '_layouts/cover.html' %}

{% block content %}
<div class="container container-fill-height">
  <div class="container-content-middle">
    <form role="form" class="alq dj j text-xs-center">

      <a href="../index.html" class="l amb">
        <img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/exampleco.svg" alt="">
      </a>

      <div class="et form-group">
        <input class="form-control" placeholder="Username">
      </div>

      <div class="et alu form-group">
        <input class="form-control" placeholder="Password" type="password">
      </div>

      <div class="amb">
        <button class="cg fp btn btn-primary">Log In</button>
        <button class="cg fm btn btn-secondary">Sign up</button>
      </div>

      <footer class="apd mt-2">
        <a href="#" class="dp">Forgot password?</a>
      </footer>
    </form>
  </div>
</div>

{% endblock %}
