{% set title = 'Homepage' %}
{% set slug = 'index' %}
{% set opened_nav_group = 'index' %}

{% extends '_layouts/default.html' %}

{% block head_scripts %}
<style>
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
</style>

{% endblock %}

{% block content %}
<div class="container">
  <div class="starter-template">
    <h1>Nunjucks app template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>
</div>

{% endblock %}
